<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block access to sensitive files in cPanel
    RewriteRule ^(\.env|\.git|composer\.(json|lock)|package\.(json|lock)|artisan) - [F,L,NC]

    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
